.whole-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
}

.outer-circle{
    display: flex;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #a7a7a7;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inner-circle{
    display: flex;  
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.inner-circle i{
    color: var(--secondary-color);
}

.whole-container h3{
    color: black;
}

.whole-container p{
    font-size: 0.833rem
}